#first-nav{
    background-color: #EEEEEE;
    margin-top: -10px;
   
    
}

.nav-icon{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
}

.flag{
    width: 20px;
}

#navbarText{
    margin-left: 120px;
}

#second-navbar{
    margin-top: -20px;
}

#btn1{
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: small;
    background-color: #0D6DB7;
    margin-right: 5px;
}

#btn2{
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: small;
    background-color: #8DC63F;
    border: 1px solid #0D6DB7;
    
}

.hr{
    background-color: #8e8a8a;
    margin-top: -3px;
}

.Saylani-text{
    color: #8DC63F;
}

#text h1{
    margin-top: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.h2-text{
    font-size: 25px;
  
    width: 500px;
    margin-top: 30px;
    
}

.para{
    width: 500px;
    margin-top: 15px;
}

.btn-text{
    border: 1px solid black;
    width: 140px;
    border-radius: 5px;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
}

.btn-text span{
    font-size: 25px;
    font-weight: bolder;
}

#img > img{
    width: 520px;
    float: right;
    margin-right: 30px;
    
    
}


